@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("../css/reviewsSlider.css");
@import url('../css/embla.css');

.country {
    fill: #e2ce0a;
    stroke: white;
    stroke-width: 1px;
    cursor: pointer;
    transition: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
}

.country:hover {
    fill: #ffe600;
}
