@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("../css/reviewsSlider.css");
@import url("../css/embla.css");

button {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
}

button:hover {
    transform: scale(1.01);
}

.country {
    fill: #e2ce0a;
    stroke: white;
    stroke-width: 1px;
    cursor: pointer;
    transition: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
}

.country:hover {
    fill: #ffe600;
}

/* .service-card {

} */

.service-card:hover .service-card__color-block {
    background-color: #e2ce0a;
}

.service-card:hover .service-card__image {
    --tw-saturate: saturate(1);
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate)
        var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}
